*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

.uil {
  cursor: pointer!important;
  z-index: 3!important;
}